<div class="studentPage">
    <div class="student">
        <div class="studentTop">
            <img class='imageTop' src="https://picsum.photos/seed/picsum/200/300" alt="">
        </div>
        <div class="studentBottom">
            <div class="contonent">
                <label>Name:-</label>
                <span class="value">Hello</span>
            </div>
            <div class="contonent">
                <label>Gender:-</label>
                <span class="value">Male</span>
            </div>
            <div class="contonent">
                <label>Email</label>
                <span class="value">dr@gmail.com</span>
            </div>
            <div class="contonent">
                <label>Class</label>
                <span class="value">ECE</span>
            </div>
            <div class="contonent">
                <label>Section</label>
                <span class="value">A</span>
            </div>
            <div class="contonent">
                <label>Roll</label>
                <span class="value">123</span>
            </div>
            <div class="contonent">
                <label>Hoby</label>
                <span class="value">Play</span>
            </div>
            <div class="marks">
                <div class="contonent">
                    <label class='marksInput'>Science</label>
                    <span class="value">90</span>
                </div>
                <div class="contonent">
                    <label class='marksInput'>Math</label>
                    <span class="value">90</span>
                </div>
            </div>
        </div>
    </div>
</div>