<div class="studentPage">
  <div class="student">
    <div class="studentTop">
      <img
        class="imageTop"
        src="https://picsum.photos/seed/picsum/200/300"
        alt=""
      />
    </div>
    <div class="studentBottom">
      <div class="contonent">
        <label>Name:-</label>
        <span class="value">{{ student.name }}</span>
      </div>
      <div class="contonent">
        <label>Gender:-</label>
        <span class="value">{{ student.gender }}</span>
      </div>
      <div class="contonent">
        <label>Email:-</label>
        <span class="value">{{ student.email }}</span>
      </div>
      <div class="contonent">
        <label>Class:-</label>
        <span class="value">{{ student.class }}</span>
      </div>
      <div class="contonent">
        <label>Section:-</label>
        <span class="value">{{ student.section }}</span>
      </div>
      <div class="contonent">
        <label>Roll:-</label>
        <span class="value">{{ student.roll }}</span>
      </div>
      <div class="contonent">
        <label>Hobby:-</label>
        <span class="value">{{ student.hobby }}</span>
      </div>
      <div class="marks">
        <div class="contonent">
          <label class="marksInput">Science:-</label>
          <span class="value">{{ student.scienceMarks }}</span>
        </div>
        <div class="contonent">
          <label class="marksInput">Math:-</label>
          <span class="value">{{ student.mathsMarks }}</span>
        </div>
        <div class="contonent">
          <label class="marksInput">Computer:-</label>
          <span class="value">{{ student.computerMarks }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
