.updatePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.updateFields {
  width: 70rem;
  height: 30rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.full-width{
    width: 90%;
}
