<div class="updatePage">
  <div class="updateFields">
    <p>
      <mat-form-field class="full-width">
        <mat-label>Science Marks</mat-label>
        <input matInput type="number" [(ngModel)]="science"/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <mat-label>Maths Marks</mat-label>
        <input matInput type="number" [(ngModel)]="maths"/>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <mat-label>Computer Marks</mat-label>
        <input matInput type="number" [(ngModel)]="computer"/>
      </mat-form-field>
    </p>
    <p>
      <button (click)="updateMarks()" mat-raised-button color="primary" class="full-width">
        Update!!
      </button>
    </p>
  </div>
</div>
