<mat-drawer-container hasBackdrop="true">
  <mat-drawer #sidebar mode="over">
    <p class="navButtons">
      <button mat-flat-button (click)="toTeacher()">
        <mat-icon>dialpad</mat-icon>
        <span>Teacher Portal</span>
      </button>
    </p>
    <p class="navButtons">
      <button mat-flat-button (click)="toStudent()">
        <mat-icon>notifications_off</mat-icon>
        <span>Student Portal</span>
      </button>
    </p>
  </mat-drawer>
  <mat-drawer-content>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidebar.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>ABC School</span>
      </mat-toolbar>
    </p>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
