<div class="searchArea">
  <mat-form-field appearance="fill">
    <mat-label>Class</mat-label>
    <mat-select (selectionChange)="getClass($event)">
      <mat-option value="" selected></mat-option>
      <mat-option *ngFor="let class of classes" [value]="class">{{
        class
      }}</mat-option>
    </mat-select>
    <mat-hint>Enter the class to search</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Section</mat-label>
    <mat-select (selectionChange)="getSec($event)">
      <mat-option value="" selected></mat-option>
      <mat-option *ngFor="let sec of sections" [value]="sec">{{
        sec
      }}</mat-option>
    </mat-select>
    <mat-hint>Enter the section to search</mat-hint>
  </mat-form-field>

  <button mat-icon-button (click)="onSearch()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div *ngIf="'!isStudentPresent'" class="studentList">
  <table mat-table [dataSource]="students" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell style="margin-right: 10px" *matCellDef="let element">
        {{ element.gender }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef>Class</th>
      <td mat-cell *matCellDef="let element">{{ element.class }}</td>
    </ng-container>

    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef>Section</th>
      <td mat-cell *matCellDef="let element">{{ element.section }}</td>
    </ng-container>

    <ng-container matColumnDef="roll">
      <th mat-header-cell *matHeaderCellDef>Roll no.</th>
      <td mat-cell *matCellDef="let element">{{ element.roll }}</td>
    </ng-container>

    <ng-container matColumnDef="hobby">
      <th mat-header-cell *matHeaderCellDef>Hobby</th>
      <td mat-cell *matCellDef="let element">{{ element.hobby }}</td>
    </ng-container>

    <ng-container matColumnDef="scienceMarks">
      <th mat-header-cell *matHeaderCellDef>Science Marks</th>
      <td mat-cell *matCellDef="let element">{{ element.scienceMarks }}</td>
    </ng-container>

    <ng-container matColumnDef="mathsMarks">
      <th mat-header-cell *matHeaderCellDef>Maths Marks</th>
      <td mat-cell *matCellDef="let element">{{ element.mathsMarks }}</td>
    </ng-container>

    <ng-container matColumnDef="computerMarks">
      <th mat-header-cell *matHeaderCellDef>Computer Marks</th>
      <td mat-cell *matCellDef="let element">
        {{ element.computerMarks }}
      </td>
    </ng-container>
    <ng-container matColumnDef="about">
      <th mat-header-cell *matHeaderCellDef>About</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="getAbout(element)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="ColumnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: ColumnsToDisplay"></tr>
  </table>
</div>
